Source: rtl8723ds-bt
Section: kernel
Priority: optional
Maintainer: Simon Stuerz <simon.stuerz@guh.io>
Standards-Version: 3.9.7
Homepage: https://guh.io
Vcs-Git: https://github.com/guh/rtl8723ds_bt.git
Build-Depends: debhelper (>= 9.0.0), 
  dh-systemd (>= 1.5),


Package: rtl8723ds-bt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: startup and firmware for rtl8723bs bluetooth
 This package provides startup scripts and firmware for the rtl8723bs bluetooth
 devices.
