Source: rtl8723bs-bt
Section: kernel
Priority: optional
Maintainer: Bahri Meric Canli <bahri@bahri.info>
Standards-Version: 3.9.7
Homepage: https://www.bahri.info
Vcs-Git: https://github.com/bmericc/rtl8723bs_bt.git
Build-Depends: debhelper (>= 9.0.0), 
  dh-systemd (>= 1.5),


Package: rtl8723bs-bt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: startup and firmware for rtl8723bs bluetooth
 This package provides startup scripts and firmware for the rtl8723bs bluetooth
 devices.
